<navbar></navbar>
<div style="background-color: rgb(2, 3, 46);">
    <div class="table-div">
        <div class="grid-1">
        <p class="text-div">
                <span class="insidee-text">RANKING</span> 
            <br>
            <br>
            <br>
                WORLD CUP 2019
        </p>
        
        
        
        </div>    
        <div class="grid-1">
           
        </div>   
        
        
    </div>
    <div style="background-color: rgb(43, 43, 180); border: solid 1px ;">
        <p class="about-1">
        Obiettivo del gioco:
        </p>
        <pre class="about">
            Fortnite e' un gioco dove l'obiettivo e' rimanere l'ultimo sopravvissuto all'interno di una zona 
            che si restringe sempre di più. A questo scopo, si possono utilizzare le risorse che 
            l'isola offre per costruire nascondigli e, ovviamente, si devono eliminare gli avversari combattendo.
        </pre>
    </div>
    <div class="grid-1">
        <h1 class="about-2">RANKING</h1>
    </div>
    
    <classifica></classifica>
</div>