
<div class="as">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.7.5/css/uikit.min.css" rel="stylesheet">
    <div *ngFor="let element of persone " >
        <div style=" width: 300px; height: 500px; " uk-grid>
                <div class="uk-card uk-card-default " style=" border-radius: 90px; " [ngClass]="{'mk-7': element.pers_pref == 'MK-7', 'pompa': element.pers_pref == 'Pompa del Nonno', 'assalto': element.pers_pref == 'Fucile dassalto','caccia': element.pers_pref == 'Fucile da caccia' ,'mitraglietta': element.pers_pref == 'Mitraglietta'  }" >
                    <div class="uk-card-media-top as " style="padding-top: 20px;">
                        <img style="border-radius: 90px;"src="{{element.foto}}" width="150" height="150" alt="">
                        
                    </div>
                    <div class="uk-card-body as" >
                        <h3 class="uk-card-title we" style="color: white;">{{element.nome}}</h3>
                      
                        <h3 class="uk-card-title wes" style="color: white;">{{element.eta}}</h3>
                        <h3 class="uk-card-title " style="color: white;">{{element.pers_pref}}</h3>
                        <div [ngSwitch]="element.nazionalita">
                            <span class="badge" *ngSwitchCase="'usa'"><img src="../../assets/usa.png" height="45px" width="25px"></span>
                            <span class="badge" *ngSwitchCase="'argentina'"><img src="../../assets/argentina.png" height="45px" width="25px"></span>
                            <span class="badge" *ngSwitchCase="'france'"><img src="../../assets/france.png" height="45px" width="25px"></span>
                            <span class="badge" *ngSwitchCase="'hong_kong'"><img src="../../assets/HongKong.png" height="45px" width="25px"></span>
                            <span class="badge" *ngSwitchCase="'canada'"><img src="../../assets/canada.png" height="45px" width="25px"></span>
                            <span class="badge" *ngSwitchCase="'svezia'"><img src="../../assets/sweden.png" height="45px" width="25px"></span>
                        </div>
                        <button  (click)= "Pagina(element.link_pagina)" mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                        <mat-icon>info</mat-icon>
                        </button>
                        
                    </div>
                </div>
            
            
    </div>
</div>
